//default style reset begins
$main_color:#f8f9fa;
$primary_color:#01ce9f;
$white_color:#ffff;
$some_text_color:#222529;
$primary_text_color:#868e95;
$input_color:#f1f3f5;
$main_bold_font:"Bebas";
$main_semibold_font:"Sourcesemibold";
$main_regular_font:"Sourceregular";
//variables ends
body{
margin:0;
padding:0;
background-color:$main_color;
 min-width:320px;
}
//default style reset ends
.container {
    min-width:320px;
    margin:0 auto;
}
.nav{
    ///min-width:900px;
    margin: 0 auto;
    height: 56px;
    width: 100%;
    background-color: #273570;
    display:flex;
    justify-content: space-between;
    .menu{
        margin-left:1.5%;
        display:flex;
        .logo{
            width: 126px;
            height: 32px;
            background-image: url("../img/logo.png");
            margin-top: 12px;
        }
    }
    .options {
    display:flex;
    width: 250px;
    justify-content: space-between;
        li {
            margin:auto;
            margin-right: 16px;
            list-style: none;
            font-family:$main_semibold_font;
            font-size:16px;
            color:$white_color;
        }
        .foto,.greeting{
            @media screen and (min-width: 320px) and (max-width:480px) {
                display:none;
            }
        }
    }
}
.summary{
    margin: 0 auto;
    height: 88px;
    width: 100%;
    background-color:$white_color;
    margin-bottom:24px;
    .h_container{
        font-family: $main_bold_font;
        padding-top:27px;
        text-transform:uppercase;
        font-size:36px;
        width: 100px;
        height: 20px;
        margin-left:1.5%;
    }
}
.content{
    min-width:320px;
    background-color: $main_color;
    .box{
        width:97%;
        margin:0 auto;
      .today {
        padding-top:24px;
        background:$white_color;
        margin-bottom:24px;
            .ht_text{
                margin-left:1.5%;
                font-family: $main_bold_font;
                text-transform:uppercase;
                font-size:24px;
            }
            .today_content{
                min-width: 320px;
                padding-top:16px;
                display:flex;
                justify-content: space-between;
                width: 97%;
                margin: auto;
                @media screen and (min-width: 320px) and (max-width:790px) {
                    display:block;
                }
                .own_stats{
                    display:flex;
                    justify-content: space-between;
                    width: 50%;
                    height: 248px;
                    @media screen and (min-width: 320px) and (max-width:480px) {
                    display:block;
                    width: 100%;
                    }
                    @media screen and (min-width: 481px) and (max-width:790px) {
                    display:flex;
                   width: 100%;
                    }
                   .profile{
                       .pro_inf{
                        text-align: center;
                        width: 100%;
                       }
                       .pro_foto{
                           width: 100%;
                           border-radius:50%;
                           padding-bottom:16px;
                       }
                       .pro_name{
                           color:$some_text_color;
                           text-transform: uppercase;
                           font-size:24px;
                           font-family:$main_bold_font;
                           line-height: 32px;
                       }
                       .pro_option{
                           color:$primary_color;
                           text-transform: uppercase;
                           font-family:$main_semibold_font;
                           font-size:16px;
                           line-height: 24px;
                       }
                    }
                    .stats {
                        margin-right: 20%;
                         @media screen and (min-width: 320px) and (max-width:790px){
                            display:flex;
                            margin: inherit;
                            padding-top: 20px;
                            margin-right: 0 ;
                        }
                        .graph{
                            @media screen and (min-width: 320px) and (max-width:480px){
                                margin:0 auto;
                            }
                            .cell{
                                display:flex;
                                height: 72px;
                                margin:2px;
                                .pict{
                                    margin-right:2%;
                                    img{
                                    width: 96px;
                                    height: 56px;
                                    }
                                }
                                .item{
                                    padding-left:0;
                                    margin-top:0;
                                    .title {
                                        width: 130px;
                                    }
                                    span{
                                        padding-left:0;
                                        margin:0;
                                        font-size:48px;
                                        font-family:$main_bold_font;
                                        
                                         @media screen and (min-width: 320px) and (max-width:480px){
                                            font-size: 30px;
                                        }
                                    }
                                    .text span {
                                        font-family:$main_bold_font;
                                        text-transform: uppercase;
                                        font-size:16px;
                                        line-height:24px;
                                        padding-left:0;
                                        margin-top:0;
                                        color:$primary_text_color;
                                    }
                                    li{
                                        list-style: none;
                                    }
                                    p{
                                    font-family:$main_bold_font;
                                    text-transform: uppercase;
                                    font-size:1rem;
                                    line-height:24px;
                                    padding-left:0;
                                    margin-top:0;
                                    color:$primary_text_color;
                                    }
                                }
                            }
                        }
                    }
                }
                .map{
                    width: 50%;
                    height: 248px;
                    padding-bottom:24px;
                    @media screen and (min-width: 320px) and (max-width:480px){
                        margin:0 auto;
                        display:flex;
                        width: 97%;
                        padding-top:70%;
                    }
                    @media screen and (min-width: 481px) and (max-width:790px){
                        width: 100%;
                    }
                    @media screen and (min-width: 791px) and (max-width:900px){
                        width: 47%;
                    }
                }
            }
        }
        .top_wallkers{
        position: relative;
        background:$white_color;
        .top_label{
                padding-top:24px;
                margin:auto;
                width: 97%;
                display:flex;
                justify-content: space-between;
                .top_h_text{
                    font-family:$main_bold_font;
                    font-size:24px;
                    text-transform:uppercase;
                    @media screen and (min-width: 380px) and (max-width:750px) {
                    width: 25%;
                    }
                }
            }
        }
    }
}
//button styles beggins
.btn-group{
    display:inline-block;
        @media screen and (min-width: 320px) and (max-width:480px) {
        display:block;
        }
    button{
        clear: none;
        float: left;
        width:176px;
        height:40px;
        border:none;
        color:$primary_color;
        text-transform:uppercase;
        font-family:$main_semibold_font;
        font-size:1rem;
        background-color:$input_color;
        @media screen and (min-width: 320px) and (max-width:750px) {
         width: 90px;
         height: 32px;

        }
    }
    button:focus{
        outline:none;
    }
    button:active{
        background-color:$primary_color;
        color:$input_color;
        border:none;
    }
    button:hover{
        background-color:$primary_color;
        color:$input_color;
        border:none;
    }
    button.b1{
    border-radius: 4px 0  0 4px;
    @media screen and (min-width: 320px) and (max-width:480px) {
        border-radius:4px;
        }
    }
    button.b2{
    border-radius: 0 4px 4px 0;
    @media screen and (min-width: 320px) and (max-width:480px) {
        border-radius:4px;
        }
    }
}
//button styles
// callendar styles
.callendar {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 192px;
    background-color: #f1f3f5ee;
    border-radius:4px;
    @media screen and (min-width: 320px) and (max-width:750px) {
         width: 25%;
        }
    p{
        font-family: $main_regular_font;
        font-size:1rem;
        line-height:7px;
        margin-left: 15px;
    }
    img{
        padding-top:7px;
    }
    .callendar-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 512px;
        height:256px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        top:15px;
        right:5px;
        z-index: 1;
         @media screen and (min-width: 320px) and (max-width:480px){
            position: absolute;
            background-color: $primary_color;
            width: 280px;
        }
    }
}
.callendar:hover .callendar-content {
    display: block;
}
//callendar styles ends here
//Search  field styles starts here!
.search{
    margin-top:32px;
    .search_field{
     display:flex;
     padding-bottom:12px;
      input {
        margin:auto;
        width: 97%;
        height: 40px;
        background: $input_color;
        border: none;
        border-radius: 4px;
        font-family: $main_regular_font;
        font-size: 14px;
        text-indent: 32px;
        background-image: url("../img/search.png");
        background-position: left 8px top 8px;
        background-repeat: no-repeat;
        }
    }
}//Search styles ends here!
//Top walkers section styles starts here!
.top_list {
    height: 100%;
    width: 97%;
    margin:auto;
    padding-bottom:24px;
    .top_usr_label {
        padding-bottom:9px;
        height: 24px;
        display:flex;
        margin:auto;
        text-transform: uppercase;
        font-size:16px;
        color:$primary_text_color;
        font-family:$main_regular_font;
        .us{
        height:40px;
        width: 25%;
        text-align:center;
        }
    }
    .top_row{
        font-family:$main_regular_font;
        display:flex;
        height: 40px;
        background:$main_color;
        margin:auto;
        border-radius:4px;
        margin-bottom:8px;
        @media screen and (min-width: 320px) and (max-width:790px){
            font-size:10px;
        }
        @media screen and (min-width: 790px) and (max-width:940px){
            font-size:14px;
        }
      .top_cell div{
        margin-left:12px;
        margin-top:8px;
        @media screen and (min-width: 320px) and (max-width:940px){
            margin-left:1%;
        }
      }
        .top_cell{
            display:flex;
            width: 25%;
            height: 40px;
            color:$some_text_color;
            font-weight: 600;
            .cell_numb {
                width: 24px;
                height: 24px;
                border-radius:50px;
                text-align:center;
                line-height: 1.5;
                color:$primary_text_color;
                @media screen and (min-width: 320px) and (max-width:790px){
                display:none;
                }
            }
            .orange{
                background-color: #fec833;
                color:#fff;
            }
            .grey {
                background-color: #cfcfcf;
                color:#fff;
            }
            .red{
                background-color:#e2815c;
                color:#fff;
            }
            .cell_face{
                width: 24px;
                height: 24px;
                background-color:yellow;
                border-radius:50px;
                 @media screen and (min-width: 320px) and (max-width:1100px){
                display:none;
                }
            }
            .cell_star {
                width: 24px;
                height: 24px;
                background-image: url("../img/star.png");
                 @media screen and (min-width: 320px) and (max-width:480px){
                display:none;
                }
            }
            .cell_star:hover {
                background-image: url("../img/starz.png");
                @media screen and (min-width: 320px) and (max-width:480px){
                 display:none;
                }
            }
            .cell_name {
                margin-top:12px;
            }
        }
        .top_cell-2, .top_cell-3, .top_cell-4{
            font-size:1rem;
            font-family:$main_regular_font;
            margin-top: 12px;
            height: 40px;
            width: 25%;
            text-align:center;
            color:$some_text_color;
            @media screen and (min-width: 320px) and (max-width:790px){
            font-size:10px;
            }
        }
    }
}
//Top walkers section styles starts here!
//Here is footer styles
.footer {
    height: 64px;
    background-image: url("../img/logo-lasoft.png");
    background-position: center center;
    background-repeat: no-repeat;
}
//Footer styles ends
// media-query section starts here
