//default style reset begins
$main_color:#f8f9fa;
$main_bold_font:"Bebas";
$main_semibold_font:"Sourcesemibold";
$main_regular_font:"Sourceregular";
//variables ends
body{
margin:0;
padding:0;
background-color:$main_color;
}
//default style reset ends
.content {
    min-width:900px;
    margin:0 auto;
}
.nav{
    min-width:900px;  
    margin: 0 auto;
    height: 56px;
    width: 100%;
    background-color: #273570;
    display:flex;
    justify-content: space-between;
    .menu{
        margin-left:1.5%;
        display:flex;
        .logo{
            width: 126px;
            height: 32px;
            background-image: url("../img/logo.png");
            margin-top: 12px;
        }  
    }
    .options {  
    display:flex;
    width: 250px;
    justify-content: space-between;
        li {
            margin:auto;
            margin-right: 16px;
            list-style: none;
            font-family:$main_semibold_font;
            font-size:1rem;
            color:#ffff;
        }      
    }
}
.summary{
    min-width:900px;  
    margin: 0 auto;
    height: 88px;
    width: 100%;
    background-color:#ffff;
    margin-bottom:24px;
    .h_container{
        font-family: $main_bold_font;
        padding-top:27px;
        text-transform:uppercase;
        font-size:36px;
        width: 100px;
        height: 20px;
        margin-left:1.5%;
    }
}
.content{
    background-color: $main_color;
    .box{
        width:97%;
        margin:0 auto;
      .today {
        padding-top:24px;
        background:#ffff;
        margin-bottom:24px;
            .ht_text{
                margin-left:1.5%;
                font-family: $main_bold_font;
                text-transform:uppercase;
                font-size:24px;
            }
            .today_content{
                min-width: 320px;
                padding-top:16px;
                display:flex;
                justify-content: space-between;
                width: 97%;
                margin: auto;
                .own_stats{
                    display:flex;
                    justify-content: space-between;
                    width: 50%;
                    height: 248px;
                   .profile{
                       //width:40%;
                       .pro_inf{
                        text-align: center;
                        width: 100%;
                       }
                       .pro_foto{
                           width: 100%;
                           //width:;
                          // height:;
                           border-radius:50%;
                           padding-bottom:16px;
                       }
                       .pro_name{
                           color:#222529;
                           text-transform: uppercase;
                           font-size:24px;
                           font-family:$main_bold_font;
                           line-height: 32px;
                       }
                       .pro_option{
                           color:#01ce9f;
                           text-transform: uppercase;
                           font-family:$main_semibold_font;
                           font-size:1rem;
                           line-height: 24px;
                       }
                    }
                    .stats {
                        margin-right: 10%;
                        .graph{
                            .cell{
                                display:flex;
                                //width: ;
                                height: 72px;
                                margin:2px;
                                img{
                                    width: 96px;
                                    height: 56px;
                                }
                                .item{
                                    padding-left:0;
                                    margin-top:0;
                                    li{
                                        list-style: none;
                                    }
                                    h3{
                                        padding-left:0;
                                        margin:0;
                                        font-size:48px;
                                        font-family:$main_bold_font;
                                    }
                                    p{
                                    font-family:$main_bold_font;
                                    text-transform: uppercase;
                                    font-size:1rem;
                                    line-height:24px;
                                    padding-left:0;
                                    margin-top:0;
                                    color:#868e95;
                                    }
                                }
                            }
                        }
                    }
                }
                .map{
                    width: 50%;
                    height: 248px;
                    padding-bottom:24px;
                }
            }
        }
        .top_wallkers{
        position: relative;
        background:#ffff;
        .top_label{
                padding-top:24px;
                margin:auto;
                width: 97%;
                display:flex;
                justify-content: space-between;
                .top_h_text{
                    font-family:$main_bold_font;
                    font-size:24px;
                    text-transform:uppercase;
                }
            }
        }   
    }
}
//button styles beggins
.btn-group{
    display:inline-block;
    button{
        clear: none;
        float: left;
        width:176px;
        height:40px;
        border:none;
        color:#01ce9f;
        text-transform:uppercase;
        font-family:$main_semibold_font;
        font-size:1rem;
        background-color:#f1f3f5;
    }
    button:focus{
        outline:none;
    }
    button:active{
        background-color:#01ce9f;
        color:#f1f3f5;
        border:none;
    }
    button:hover{
        background-color:#01ce9f;
        color:#f1f3f5;
        border:none;
    }
    button.b1{
    border-radius: 4px 0  0 4px;
    }
    button.b2{
    border-radius: 0 4px 4px 0;
    }
}
//button styles
// callendar styles
.callendar {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 192px;
  background-color: #f1f3f5ee;
  border-radius:4px;
    p{  
        font-family: $main_regular_font;
        font-size:1rem;
        line-height:7px;
        margin-left: 15px;
    }
    img{
        padding-top:7px;
    }
    .callendar-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 512px;
        height:256px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        top:15px;
        right:5px;
        z-index: 1;
    }
}
.callendar:hover .callendar-content {
    display: block;
}
//callendar styles ends here
//Search styles starts here!
.search{
    margin-top:32px;
    .search_field{
     display:flex;
     padding-bottom:12px;
      input { 
        margin:auto;
        width: 97%;
        height: 40px;
        background: #f1f3f5;
        border: none;
        border-radius: 4px;
        font-family: $main_regular_font;
        font-size: 14px;
        text-indent: 32px;
        background-image: url("../img/search.png");
        background-position: left 8px top 8px;
        background-repeat: no-repeat;
        }
    }
}//Search styles ends here!
//Top walkers section styles starts here!
.top_list {
    height: 100%;
    width: 97%;
    margin:auto;
    padding-bottom:24px;
    .top_usr_label {
        padding-bottom:9px;
        height: 24px;
        display:flex;
        margin:auto;
        text-transform: uppercase;
        font-size:16px;
        color:#868e95;
        font-family:$main_regular_font;
        .us{
        height:40px;
        width: 25%;
        text-align:center;
        }
     
    }
    .top_row{
        font-family:$main_regular_font;
        display:flex;
        height: 40px;
        background: #f1f3f5;
        margin:auto;
        border-radius:4px;
        margin-bottom:8px;
      .top_cell div{
        margin-left:3%;
        margin-top:8px;
      }
        .top_cell{
            display:flex;
            width: 25%;
            height: 40px;
            color:#222529;
            .cell_numb {
                width: 24px;
                height: 24px;
                border-radius:50px;
                text-align:center;
                line-height: 1.5;
                color:#868e95;
            }
            .orange{
                background-color: #fec833;
                color:#fff;
            }
            .grey {
                background-color: #cfcfcf;
                color:#fff;
            }
            .red{
                background-color:#e2815c;
                color:#fff;
            }
            .cell_face{
                width: 24px;
                height: 24px;
                background-color:yellow;
                border-radius:50px;
            }
            .cell_star {
                width: 24px;
                height: 24px;
                background-image: url("../img/star.png"); 
            }
            .cell_star:hover {
                background-image: url("../img/starz.png");
            }
            .cell_name {
                margin-top:12px;
            }
        }
        .top_cell-2, .top_cell-3, .top_cell-4{
            font-size:1rem;
            font-family:$main_regular_font;
            margin-top: 12px;
            height: 40px;
            width: 25%;
            text-align:center;
            color:#222529;
        }
    }
}
//Top walkers section styles starts here!
//Here is footer styles
.footer {
    height: 64px;
    background-image: url("../img/logo-lasoft.png");
    background-position: center center;
    background-repeat: no-repeat;
}
//Footer styles ends
// media-query section starts here
